@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.gamut__timePicker {

  &Btn{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    bottom: 0;
    height: 32px;
    outline: none;
    padding: 0;
    position: absolute;
    right: -4px;
    width: 32px;

    &:after{
      content: "schedule";
      bottom: -2px;
      color: rgba(0,0,0,0.54);
      font-family: "Material Icons Extended";
      font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      text-transform: lowercase;
      -webkit-touch-callout: none;
      -webkit-user-drag: none;
      user-select: none;
      white-space: nowrap;
      font-size: 1.5rem;
      position: relative;
    }

    &:hover{
      background-color: rgba(0, 0, 0,0.07);
    }
  }

  border: 1px solid gray;
  width: 300px;
  height: 335px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background: #fff;
  position: fixed;

  &__meridiamSelector {
    height: 20px;
    display: flex;
    justify-content: space-between;

    &--meridiam {
      text-align: center;
      flex-grow: 1;
      border: 1px solid gray;
      font-size: 0.875rem;
      line-height: 20px;
      cursor: pointer;
      user-select: none;

      &:hover {
        background: #efefef;
      }
    }

    &--selected{
      background: #607d8b!important;
      color: white;
    }
  }

  &__clockWrapper {
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__clock {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    margin: 0 auto;
    position: relative;

    &--minPointer{
      width: 1px;
      height: 10px;
      background-color: #424242;
      position: absolute;
      transform-origin: 0% 0%;
    }

    &--hrPointer {
      position: absolute;
      transform-origin: 0% 0%;

      &::before {
        top: -4px;
        left: -7px;
        content: "\25BC";
        position: absolute;
      }
    }

  }

  &__labels {
    border-radius: 50%;
    width: 210px;
    height: 210px;
    margin: 0 auto;
    position: absolute;
    pointer-events: none;

    &--hourLabel {
      position: absolute;
      transform: translate(-50%, -45%);
      user-select: none;
    }
  }

  &__minHand{
    width: 20px;
    height: 100px;
    background-image: url(https://res.cloudinary.com/dvzwvxhev/image/upload/v1578025454/clock_min.svg);
    background-size: 100% 100%;
    position: absolute;
    transform-origin: 49% 92%;
    top: 15%;
    transform: rotate(0deg);
    cursor: grab;
  }

  &__hrHand{
    width: 40px;
    height: 70px;
    background-image: url(https://res.cloudinary.com/dvzwvxhev/image/upload/v1578274567/clock_hr.svg);
    background-size: 100% 100%;
    position: absolute;
    transform-origin: 50% 93%;
    top: 25%;
    transform: rotate(0deg);
    cursor: grab;
  }

  &__time {
    height: 34px;
    display: flex;
    justify-content: center;

    > input{
      width: 35px;
      border: none;
      border-bottom: 1px solid #ababab;
      text-align: center;
      font-size: 1.125rem;
      outline: none;
      height: 25px;
      padding: 0;

      &:focus{
        border-bottom: 2px solid #607d8b;
      }
    }

    &--separator{
      user-select: none;
      font-size: 1.125rem;
      height: 25px;
    }

  }

  &__done {
    background: #efefef;
    text-align: center;
    border-top: 1px solid gray;
    font-size: 1rem;

    &:hover{
      cursor: pointer;
      background: #dedede;
    }
  }
}